*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }

body {
    
    background-repeat: no-repeat;
    background-size:cover;
    background-image: url(../Images/star-wars-backgrounds-25_bc15ec98.jpeg);
}

video{
  height: 100%;
  width: 100%;
}
.speaker{
    display: flex;
    height: 25px;
    margin-right: 15px;
    padding: 0px;
  }

  .logo-star{
    display: flex;
    height: 35px;
    margin-right: 15px;
    padding: 0px;
    pointer-events: none;
  }